#!/bin/sh

wwwroot=/usr/local/www/analytics.{{ nginx_domain }}

cd /var/log/nginx
echo -n '' >${wwwroot}/index.html
for logfile in `ls -1 *.*.log.0`; do
  domain=${logfile%.log.0}
  goaccess $logfile -o ${wwwroot}/${domain}.html --log-format=COMBINED --restore --persist
  echo "<div><a href=\"${domain}.html\">${domain}</a></div>" >>${wwwroot}/index.html
done
